/*
* Moodle is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* Moodle is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
*
*
* Block course expiration CSS file
*
* @package    block_course_expiration
* @author     2021 3bits development team (3-bits.com)
* @license    http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later
*/

/*
.ce_main {
    padding: 5px;
    border: 2px solid [[setting:maincolor]];
    border-radius: 5px;
    background-color: [[setting:maincolor]];
    color: white;
}
*/
.ce_date {
    font-size: 1.4rem;
    font-weight: bold;
}

.ce_time {
    font-style: italic;
}

.ce_unlimited {
    color: #fff;
    background-color: #5cb85c;
    padding: 5px;
}

.ce_limit {
    color: #5cb85c;
}

.ce_limit7 {
    color: #fff;
    background-color: #ce8a39;
    padding: 5px;
}

.ce_limit3 {
    color: #fff;
    background-color: #e53935;
    padding: 5px;
}
